<template class="chat-template">
	<link rel="stylesheet" type="text/css" href="./app/components/chat/chat.css">
	<div id="chat-template" class="chat-wrapper">
		
		<div class="output-wrapper">
			<div id="output" class="output-container">
								
			</div>
		</div>

		<div class="input-wrapper">
			<div class="input-container">
				<div class="input-input-container">
					<input id="input" class="text-input" type="text" placeholder="Chat" />
				</div>
			</div>
		</div>

	</div>
	<script type="text/javascript">
		require('./app/components/chat/chat.js');
	</script>
</template>